*{
	margin:0;
	padding:0;
}
body{height:100%;}
ul,ol{list-style:none;}
.header_1 ul li>a{
	text-decoration:none;
	color:#000000;
	
}
.header_1 ul li>a:hover{
	color:red;
}
.selend a{
	text-decoration:none;
	color:#000000;
}
.selend a:hover{color:red;}
.header{
	background-color:#f2f2f2;
	height:30px;
}
.selend{
	width:60px !important;
	line-height:22px;
	height:22px;
	margin:0 !important;
	width:115px !important;
	text-align:center;
	line-height:30px;

}
.selend img{
	vertical-align:middle !important;
	height:12px !important;
	margin-right:6px !important;
}
.selend>li{
	float:left;
background-color:#f2f2f2 !important;
	text-align:center;
	line-height:22px;
	height:22px;
	border:0 !important ;
	margin-top:0 !important;
	font-size:12px;
	width:115px !important;
	display:none;
}
.header_1{
	margin: 0 auto;
	width:1200px;
	
	height:30px
}
.header_1 ul{
	width:640px;
	height:22px;
	margin-left:300px;
	font-size:12px;
	float:left;
	
	}
.header_1 ul>li{
	float:left;
	width:60px;
	text-align:center;
	line-height:22px;
	height:22px;
	border-left:1px dotted #c7c7c7 ;
	margin-top:4px;
	font-size:12px
}
.header_1 ul li:nth-child(2){
	border-right:1px dotted #c7c7c7 ;
}
.header_1 ul li:nth-child(4){
	width:130px;
}
.header_1 ul li:nth-child(3){
	width:115px;
}

.header_1 ul li:nth-child(5){
	width:115px;
	border-right:1px dotted #c7c7c7

}
.header_1 ul li:nth-child(6){
	width:115px;
}
.header_1 ul li>img{
	vertical-align:middle;
	height:12px;
	margin-right:6px;

}
.header_first{
	display:inline-block;
	float:left;
	width:140px;
	height:30px;
	font-size:12px;
	line-height:30px;
	
}
.header_first>img{
	width:18px;
	vertical-align:middle;
	margin-right:5px;
}
.header_first>a{
	text-decoration:none;
	color:#000000;
}
.header_first>a:hover{
	color:red;
}
.header_middle{
	height:100px;
	margin-top:40px;
	
}
.header_middlebody{
	width:1200px;
	height:100px;
	margin:0 auto;
	
	

}
.header_middlebody>img{
	
	vertical-align:middle;
	margin-top:30px;
	float:left;

}
.header_middleright{
	width:520px;
	height:100px;
	float:right;
	
}
.header_middleright1{
	width:520px;
	height:30px;
	
}
.header_middleright2{
	width:520px;
	height:40px;
	border:2px solid #ff3366;

}
.header_middleright3{
	width:520px;
	height:30px;
	line-height:30px;
}
.header_middleright1_1{
	width:60px;
	height:30px;
	background-color:#f2f2f2;

	font-size:12px;
	line-height:30px;
	text-align:center;
	float:left;
}
.header_middleright1_2{
	width:60px;
	height:30px;
	background-color:#f2f2f2;

	font-size:12px;
	line-height:30px;
	text-align:center;
	float:left;
}
.header_middleright2_1{
	float:right;
	width:80px !important;
	height:40px !important;
	text-align:center;

	background:#ff3366 url(../img/search.gif) no-repeat center;
	background-size:30px;
}

.header_middleright2 input{
	width:440px;
	height:40px;
	border:0;
}
.header_middleright3 span{
	font-size:12px;
}
.header_middleright3 span a{
	text-decoration:none;
	color:red;
}
.baobei:hover{
	background-color:#ff3366;
	color:#FFFFFF;
}
.header_bottom{
	width:100%;
	height:40px;
	border-bottom:1px solid red;
}
.header_bottom1{
	width:1200px;
	height:40px;
	
	margin:0 auto;
}
.header_bottom1>ul{
	height:40px;
	line-height:40px;
	
}
.header_bottom1>ul>li{
	height:40px;
	line-height:40px;
	width:70px;
	float:left;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	
}
.middle_1{
	height:170px;
	width:100%;
}
.middle_1_1{
	width:1200px;
	height:170px;
	margin:0 auto;
}
.middle_1_1_1{
	margin-top:20px;
	border:1px solid #ececec;
	width:1198px;
	height:148px;
}
.middletopimg1{
	width:299px;
	height:150px;
	
	float:left;
}
.middletopimg2{
	width:299px;
	height:150px;

	float:left;
}
.middletopimg3{
	width:299px;
	height:150px;
	
	float:left;
}
.middletopimg4{
	width:299px;
	height:150px;
	
	float:left;
}
.middletopimg1body,.middletopimg2body,.middletopimg3body,.middletopimg4body{
	height:100px;
	width:200px;

	margin-top:20px;
	margin-left:30px;


}
.middleover4{
	width:240px;
}
.middletopimg1body_1,.middletopimg2body_1,.middletopimg3body_1,.middletopimg4body_1{
	width:80px;
	height:100px;
	float:left;
}
.middletopimg1body_1 p,.middletopimg2body_1 p,.middletopimg3body_1 p,.middletopimg4body_1 p{
	font-size:14px;
	font-weight:bold;
}
.middletopimg1body_1>img,.middletopimg2body_1>img,.middletopimg3body_1>img,.middletopimg4body_1>img{
	margin-top:20px;
}
.middle_ul1{
	float:left;
	font-size:12px;
	margin:0;
	margin-right:15px;

}
.middle_ul2{
	float:left;
	font-size:12px;
	

}
.middle_ul1 li{
	line-height:25px;
}
.middle_ul2 li{
	line-height:25px;
}
.middle_middle{
	width:100%;
	height:40px;
	
	float:left;
	margin-top:10px;
}
.middle_middle1{
	width:1200px;
	height:40px;
	margin:0 auto;
	background-color:#f8f8f8;
}
.middle_middle1_div1,.middle_middle1_div2,.middle_middle1_div3,.middle_middle1_div4{
	width:70px;
	line-height:40px;
	height:40px;
	float:left;
	text-align:center;
	font-size:12px;
}
.middle_middle1_div4>img{
	vertical-align:middle;
	margin-left:5px;
}
.middle_middle1_div4{
	position:relative;
	z-index:2;
}
.middle_middle1_div4>li{
	float:left;
	width:100px;
	height:40px;
	line-height:40px;
	background-color:#ffffff;
	display:none;


}
.middle_middle1_input1,.middle_middle1_input2{
	width:60px;
	height:20px;
	margin-top:10px;
	margin-left:20px;
	float:left;

}
.middle_middle1_input3{
	border:0;
	width:30px;
	height:20px;
	background-color:#ffffff;
	float:left;
	margin-top:10px;
	margin-left:20px;
}
.middle_bottom{
	width:100%;
	height:1800px;
	margin-top:20px;
	float:left;
}
.middle_bottom1{
	width:1200px;
	height:1800px;
	position:relative;
	margin:0 auto;
}
.middle_bottom_all1{
	width:1200px;
	height:400px;
	float: left;
	
}
.middle_bottom_img1{
	width:230px;
	height:400px;
	
	margin-right:10px;
	float:left;
	
}
.middle_bottom_img1 i:nth-child(1){
	color:red;
}
.middle_bottom_img1 i:nth-child(2){
	float:right;
	font-size:12px;

}
.middle_bottom_img1 p:nth-child(3){
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	font-size:12px;
}

.bottom{
	float:left;
	width:100%;
	height:300px;
	border-top:1px solid #e1e1e1;
	background-color:#f5f5f5;

}
.bottom_1{
	height:300px;
	width:1200px;
	margin:0 auto;
	
	
}
.bottom_top{
	height:250px;
	width:1200px;
	margin:0 auto;
	border-bottom:1px solid #e9e9e9;
}
.bottom_top1{
	height:230px;
	width:100px;
	float:left;
	margin-left:200px;
	margin-top:30px;
}

.bottom_top1 p{
	font-size:12px;
	margin-top:30px;
}
.bottom_img1{
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-right:5px;
}
.bottom_img2{
	width:16px;
	height:16px;
	vertical-align:middle;
	margin-right:5px;
}
.bottom_img3{
	vertical-align:middle;
	margin-right:5px;
}
.bottom_bottom,.bottom_bottom1{
	text-align:center;
	font-size:12px
}
 a{text-decoration:none;
	color:#767573;
}
 a:hover{color:red;}
 .middle_middle1_div1:hover,.middle_middle1_div2:hover,.middle_middle1_div3:hover{
 	background-color:#ffffff;
 	border:1px solid #e1e1e1;
 }
.middle_bottom_bottom{
	width:1200px;
	height:40px;
	margin-top:80px;
	text-align:center;
	position:absolute;
	top:1600px;

}
.middle_bottom_bottom input{
	width:30px;
	height:30px;
	border:1px solid #e1e1e1;
	background-color:#ffffff;
}
.onbottom{
	width:80px !important;
}
.middle_bottom_bottom input:hover{
	color:#ffffff;
	background-color:#ff7598;
}
.header_bottom1 ul li:hover{
	border-bottom:3px solid red;}
.right{
	width:50px;
	height:100%;
	background-color:#f5f5f5;
	position:fixed;
	right:0; top:0;
	z-index:2;
	padding:0;
	margin:0;
	font-size:12px;
	text-align:center;
	border-left:1px solid #e0e0e0;
	line-height:12px;

}
.right ul{
	margin-top:60px;
}
.right ul li{
	width:50px;
	height:90px;
	border:1px solid #e0e0e0;
	line-height:12px;
}
.right ul li img{
	margin-bottom:6px;
	margin-top:5px;
}