*{margin: 0;}
html{
	font-size: 20px;
}
.box{
	width:18.75rem;
	height: 33.35rem;
	background-color: #1D1C24;


}
.header_1{
	width: 18.75rem;
	height: 3rem;
	background-color:#2B2B2E;
	color:#ffffff;
	line-height:3rem;
	position:relative;
}
.header_1 span:first-child{
	float:left;
	display:inline-block;
	color:#ffffff;
	font-size:3rem;

}
.header_1 span:last-child{
	display:inline-block;
	color:#ffffff;
	font-size:3rem;
	position:absolute;
	right:0rem;bottom:1rem

}
.header_1 span{
	margin-left:0.2rem;
	float:left;
	font-size:0.6rem;
}
.header_2{
	width: 18.75rem;
	height: 2.2rem;
	background-color: #2F2E34;
}
.header_2 ul{
	list-style: none;
	float: left;
	width: 18.75rem;
	height: 2.2rem;
	font-size: 0.6rem;
	padding: 0;

}
.header_2 ul li{
	float: left;
	height: 2.2rem;
	width: 4.5rem;
	line-height: 2.2rem;
	color: #A1A0A3;
	text-align:center;


}
.header_2 ul li:nth-child(2){
	color: #A14D28;
	border-bottom:0.1rem solid #A14D28;
	height: 2.2rem;
	 
}
.middle{
	width: 17.5rem;
	height:19.4rem;
	margin: 0 auto;
	  
}
.middle_1{
	width: 17.5rem;
	height:4.5rem;
	background-color: #2F2E34;
	margin-top: 0.4rem;
	padding: 0;
}
.middle_11{
	width: 4rem;
	height: 4rem;
	float: left;
	
	color:#FFFFFF;
	background-color:#f66620;
	margin-top:0.3rem;
	margin-left:0.5rem;
}
.middle_11 span
{
	font-size:0.6rem;
	margin-left:0.4rem;
}
.middle_11 p
{
	width:4rem;
	font-size:1.3rem;
	line-height:1.3rem;
	text-align:center;

}
.span1
{
	margin:0.1rem !important;
}
.middle_12{
	width:6rem;
	height: 3.5rem;
	float: left;
	font-size: 0.6rem;
	
	padding-top: 0.5rem;
	padding-left: 0.5rem;

}
.middle_12 p{
	font-size:0.65rem !important;
	color: #AC5028;
	color:#f66620;
	margin-bottom:0.4rem;
	 }
.middle_12 span{
	color: #DAD9DA;
	float: left;
	margin-top: 0.2rem;
}
.middleright{
	width: 4rem;
	height: 1.75rem;
	line-height:1.75rem;
	text-align: center;
	background-color: #4A8B60;
	color: #ffffff;
	font-size: 0.65rem;
	float: right;
	padding: 0;
	margin-top: 1rem;
	margin-right: 0.5rem;

}