*{
	margin:0;
	padding:0;

}
.person{
	position:fixed;
	right:0;
	background:#ffffff;
	height:100px;
	width:200px;
	line-height:50px;
	text-align:center;
	font-size:12px;
	


}
a{text-decoration:none;}
ul,ol{
	list-style:none;
}
.header{
	height:100px;
	width:100%;
	background-color:#BA97CF;	
}
.header_1{
	width:1200px;
	height:100px;
	margin:0 auto;
	
	
}
.header_2{
	width:206px;
	height:100px;
	background:url(../img/header1.png) no-repeat center;
	float:left;
}
.header_3{
	height:100px;
	width:600px;
	float:right;
}
.header_31 ul{
	width:600px;
	height:100px;
	float:left;

}
.header_31 ul li{
	height:100px;
 	width:auto;
 	line-height:100px;
 	float:left;
 	color:#FBF9FC;
 	margin-left:45px;
 	font-size:12px;
}
.header_31 ul li:nth-child(4){
	width:85px;
	height:94px;
	border-bottom:4px solid #A662B2;
	text-align:center;
}
.middle1{
	width:100%;
	height:1750px;
}
.middle1_1{
	width:100%;
	height:610px;
	background:url(../img/middle1.png)no-repeat;
}
.middle1_2{
	width:1200px;
	height:1140px;
	
	margin:0 auto;
}
.middle1_21{
	width:1200px;
	height:100px;
	border-bottom:1px dashed#DFDFDF;
	line-height:100px;
	text-align:center;
}
.middle1_22{
	width:1200px;
	height:120px;
	
}
.middle1_221{
	width:1200px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:12px;
	color:#B5B5B5;
}
.middle1_222{
	width:1200px;
	height:70px;
	font-size:15px;
	
}
.middle1_3{
	width:1200px;
	height:200px;
	background:url(../img/middle2.png)no-repeat center;
}
.middle1_4{
	width:1200px;
	height:1000px;

}
.middle1_4 p{
	margin-top:20px;
	font-size:15px;
	height:40px;
	line-height:20px;
	color:#7A7A7A;
}
.middle1_4 p a{
	text-decoration:underline;
	color:#B38DCA;
}
.middle1_4 p span{
	float:right;
}
.middle_over{
	height:100px;
	width:100px;
	position:relative;
	left:48%;top:580px;
}
.middle_over1{
	height:60px;
	width:100px;
	position:relative;
	left:8%;top:200px;
}
.middle_over2{
	height:60px;
	width:100px;
	position:relative;
	left:88%; top:140px;
}

.bottom{
	width:100%;
	height:200px;
	background-color:#B38DCA;
	float:left;
	margin-top:40px;
}
.bottom_1{
	width:1200px;
	height:200px;
	margin:0 auto;
	
}
.bottom_11{
	width:650px;
	height:200px;

	float:left;
}
.bottom_12{
	width:610px;
	height:160px;
	margin:20px;
	
	float:left;
}
.bottom_13{
	width:610px;
	height:30px;
	;
	float:left;
	margin-top:30px;
}
.bottom_131{
	width:100px;
	height:30px;
	float:left;
	
	color:#FBF9FC;
	margin-left:20px;
	line-height:30px;
	text-align:center;
	border:1px solid #DCCAE6;
}
.bottom_14{
	width:450px;
	height:30px;
	float:left;
	
	margin-top:10px;
	margin-left:20px;

}
.bottom_14 ul{
	width:450px;
	height:30px;
	float:left;

}
.bottom_14 ul li{
	width:auto;
	float:left;
	height:30px;
	letter-spacing:3px;
	font-size:12px;
	color:#FFFFFF;
}
.bottom_141{
	width:auto;
	height:30px;
	float:left;
	margin-left:20px;
	font-size:12px;
	color:#FBF9FC;
}
.bottom_2{
	width:500px;
	height:200px;
	
	float:left;
	line-height:200px;
	text-align:center;
	color:#FFFFFF;
	letter-spacing:1px;
}
.bottom_2 img{
	margin-right:10px;
	margin-bottom:-10px;
}
.bottom_21{
	position:relative;
	left:30px;top:10px;
}
.bottom_22{
	position:relative;
	left:40px;top:10px;
}
.brother{
	width:137px;
	height:137px;
	position:fixed;
	bottom:30px;left:30px;


}








