*{
	margin:0;
	padding:0;
}
body{
	font-family:"宋体";
}
a{
	text-decoration:underline;
	color:red;
}
a:hover{color:blue;}
.zt{
	width:100%;
}
.body{
	width:1200px;
	margin:0 auto;
	position:relative;
	border:10px solid #5286AE;
}
p{
	margin:10px;
	text-decoration:underline;
}
.body>p>img{
	width:100px;

}
.body p>span:first-child{
	font-weight:bold;
}
.body>p:first-child>span{
	width:100%;
	text-align:center;
	display:inline-block;
}
.red{vertical-align:top;}
.zhu{margin-left:10px;
	color:black;
	font-weight:bold;
}
.geren{
	position:absolute;
	top:10px;right:82px;
	width:200px;
	height:200px;
}
.qz{
	position:absolute;
	top:10px;right:282px;
	width:200px;
	height:200px;
}
.word{
	position:absolute;
	font-family:"宋体";
	font-size:20px;
	color:red;
	right:100px;
	top:100px;
}